<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/dropdown.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/stylesheets/styles.css" rel="stylesheet">

    <link href="/stylesheets/hipster_cards.css" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="/fonts/pe-icon-7-stroke.ttf" rel="stylesheet"/>
    <link href="/fonts/Montserrat-Light.otf" rel="stylesheet"/>
    <link href="/fonts/Montserrat-Regular.otf" rel="stylesheet"/>
    <link href="/fonts/Montserrat-SemiBold.otf" rel="stylesheet"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    <!--<link href='http://fonts.googleapis.com/css?family=Playfair+Display|Raleway:700,100,400|Roboto:400,700|Playfair+Display+SC:400,700' rel='stylesheet' type='text/css'>-->

    <style>
        .card {
            margin-bottom: 70px;
        }
    </style>
</head>


<body>


<header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Mahi</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">


            </ul>
            <ul class="nav navbar-right navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
                    <ul class="dropdown-menu" style="padding:12px;">
                        <form class="form-inline">
                            <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
                        </form>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div id="masthead" style="width:100%;">
    <div class="">
        <div class="">
            <div class="" style="padding: 25px 0px; background: #fafafa;">
                <div class="">
                    <div class="row" style="text-align:center">
                        <div class="col-sm-12">
                            <!-- Search bar / Drop down list -->

                            <form action="/" method="GET" class="form-inline">
                                <label style="font-family: Montserrat-Regular;
                                font-size: 17px;
                                margin-right: 10px;
                                color: #454545;
                                ">Job Category </label>
                                <select class="form-control" name="category"
                                        style="display: table-cell;
                                          border-bottom-right-radius: 0;
                                          border-top-right-radius: 0;
                                          border-top-left-radius: 20px;
                                          border-bottom-left-radius: 20px;
                                          border: 0;
                                          vertical-align: middle;
                                          width:33%;
                                          position: relative;
                                          background: #FFFFFF;
                                          border: 1px solid #EEEEEE;">
                                    <option value="" disabled="disabled" <% if (!category) {%>selected="selected"<%}%>>Please select a name
                                    </option>
                                    <% for(var i = 0; i < categories.length; i++) { %>
                                    <option value= <%= categories[i].id %>  <% if (category == categories[i].id) {%> selected="selected" <%}%>><%= categories[i].name %></option>
                                    <% } %>
                                    <input type="submit" value="Select" class="btn btn-default"
                                           style="
                                           height:34px;
                                          border-bottom-left-radius: 0;
                                          border-top-left-radius: 0;
                                          border-top-right-radius: 20px;
                                          border-bottom-right-radius: 20px;
                                          vertical-align: middle;
                                          background: #189ED9;
                                          font-size: 14px;
                                          color: #FFFFFF;">
                                    </input>
                                </select>

                            </form>
                            <!-- Search bar / Drop down list END -->
                        </div>
                    </div>
                </div><!-- /cont -->

            </div>


            <div class="container">
                <div class="row">

                    <div class="col-md-12">

                        <div class="panel">

                          <div class="row" style="padding:50px;">
                            <div class="col-sm-12 text-center">
                              <% var sum = 0; for(var i = 0; i < regions.length; i++) { sum += regions[i].jobcount } %>
                              <span style=" padding: 50px; font-family: Montserrat-Regular;font-size: 21px;letter-spacing: -0.51px; color:#454545;">
                                  <span style="color: #189ED9;"><%= sum %></span>
                                  Jobs Available Now</span>

                            </div>
                          </div>
                            <div class="panel-body">


                                <!--/stories-->
                                <!--<div class="card-box col-md-3 col-sm-4">-->
                                <!--<div class="card card-just-text card-with-border" data-background="image"-->
                                <!--data-src="/img/skytower.jpg">-->
                                <!--<div class="content">-->
                                <!--<h4 class="title title-modern">Auckland</h4>-->
                                <!--<p class="description">Population: 1 million</p>-->
                                <!--</div>-->
                                <!--<div class="filter"></div>-->
                                <!--</div> &lt;!&ndash; end card &ndash;&gt;-->
                                <!--</div>-->


                                <!--/stories-->
                                <div class="masonry-container">


                                    <% for(var i = 0; i < regions.length; i++) { %>
                                    <div class="card-box col-sm-4 col-xs-11">
                                        <div class="card" data-background="image" data-src="/img/regions/<%= regions[i].id %>.png">
                                            <div class="header" style="height:180px;">
                                                <div class="content">
                                                    <h4 class="title title-uppercase" style="text-align: center;">
                                                        <a href=""><%= regions[i].name %></a>
                                                    </h4>
                                                </div>
                                                <div class="social-line social-line-visible">
                                                    <div class="row" style="margin:0px; text-align:center">
                                                        <div class="col-xs-4 btn-social">
                                                            <div class="city-data">
                                                                <h5><%= regions[i].jobcount %></h5>
                                                                <p>Jobs</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4 btn-social">
                                                            <div class="city-data">
                                                              <h5><%= regions[i].unemployed %></h5>
                                                                <p>Unemployed</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4 btn-social">
                                                            <div class="city-data">
                                                                <h5><%= regions[i].jobratio %></h5>
                                                                <p>Ratio</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                </div> <!-- end card -->


                                <!--/stories-->

                            </div>
                        </div>


                    </div><!--/col-12-->
                </div>
            </div>


            <hr>

            <div class="container" id="footer">
                <div class="row">
                    <div class="col col-sm-12">

                        <h1>Follow Us</h1>
                        <div class="btn-group">
                            <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i>
                                Twitter</a>
                            <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i>
                                Facebook</a>
                            <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i>
                                Google+</a>
                        </div>

                    </div>
                </div>
            </div>

            <hr>

            <hr>

            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline">
                                <li><i class="icon-facebook icon-2x"></i></li>
                                <li><i class="icon-twitter icon-2x"></i></li>
                                <li><i class="icon-google-plus icon-2x"></i></li>
                                <li><i class="icon-pinterest icon-2x"></i></li>
                            </ul>

                        </div>
                        <div class="col-sm-6">
                            <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a
                                        href="http://www.bootply.com">Bootply</a></p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- script references -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

            <script src="/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="/js/hipster-cards.js"></script>

            <!--  Just for demo  -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>

            <script>
                $().ready(function () {
                    var $container = $('.masonry-container');
                    doc_width = $(document).width();
                    if (doc_width >= 768) {
                        $container.masonry({
                            itemSelector: '.card-box',
                            columnWidth: '.card-box',
                            transitionDuration: 0
                        });
                    } else {
                        $('.mas-container').removeClass('mas-container').addClass('row');
                    }
                });
            </script>

</body>
</html>