<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/dropdown.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/stylesheets/styles.css" rel="stylesheet">

    <link href="/stylesheets/hipster_cards.css" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="/fonts/pe-icon-7-stroke.ttf" rel="stylesheet" />
    <link href="/fonts/Montserrat-Light.otf" rel="stylesheet" />
    <link href="/fonts/Montserrat-Regular.otf" rel="stylesheet" />
    <link href="/fonts/Montserrat-SemiBold.otf" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display|Raleway:700,100,400|Roboto:400,700|Playfair+Display+SC:400,700' rel='stylesheet' type='text/css'>

    <style>
        .card{
            margin-bottom: 70px;
        }
    </style>
</head>
  <body>

<header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Mahi</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">


            </ul>
            <ul class="nav navbar-right navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
                    <ul class="dropdown-menu" style="padding:12px;">
                        <form class="form-inline">
                            <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
                        </form>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div id="masthead">
  <div class="">
    <div class="row">

      <div style=" " class="col-md-12">
        <div class="well well-lg" style="height: 231px; background-image: url('/img/regions/<%= regionId %>.png'); margin-top: 0px;">
          <div class="row" style="text-align:center">
            <div class="col-sm-12">
            <!-- REGION TITLE-->
            <h1><%= location %></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /cont -->


<!-- single rectagle div -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer" style="height: 150px; z-index: 10; margin-top: -78px; padding-right: 0px; margin-right: 0px; margin-bottom: 100px;">

          <div class="container-fluid">
            <% for(var i = 0; i < regions.length; i++) { %>
              <div class="row">
              <div class="col-sm-2">
              <div class="region-data" style="text-align: center; padding: 30px 0px;">
                <h5><%= regions[i].jobs %></h5>
                <p>Jobs</p>
              </div>
              </div>
              <div class="col-sm-3">
              <div class="region-data" style="text-align: center; padding: 30px 0px;">
                <h5 ><%= regions[i].unemployed %></h5>
                <p>Unemployed</p>
              </div>
              </div>
              <div class="col-sm-2">
              <div class="region-data"  style="text-align: center; padding: 30px 0px; ">
                <h5><%= regions[i].ratio %></h5>
                <p>Ratio</p>
              </div>
              </div>
              <div class="col-sm-3">
              <div class="region-data"  style="text-align: center; padding: 30px 0px;">
                <h5><%= regions[i].ratio %></h5>
                <p>Ratio</p>
              </div>
              </div>
              <div class="col-sm-2">
              <div class="region-data"  style="text-align: center; padding: 30px 0px;">
                <h5><%= regions[i].salary %></h5>
                <p>Salary</p>
              </div>
              </div>
              </div>
            <% } %>
          </div>
      </div>
    </div>

  </div><!-- /cont -->


</div>



</div>
<div style="padding-left: 650px;">
<!-- Search bar / Drop down list -->
<form action="/region/<%= regionId %>" method="GET" class="form-inline">
      <label style="font-family: Montserrat-Regular;
      font-size: 17px;
      margin-right: 10px;
      color: #454545;
      ">Job Category </label>
      <select class="form-control" name="category"
              style="display: table-cell;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border: 0;
                vertical-align: middle;
                width:33%;
                position: relative;
                background: #FFFFFF;
                border: 1px solid #EEEEEE;">
          <option value="" disabled="disabled" <% if (!categories) {%>selected="selected"<%}%>>Please select a name
          </option>
          <% for(var i = 0; i < categories.length; i++) { %>
          <option value= <%= categories[i].id %>  <% if (categories == categories[i].id) {%> selected="selected" <%}%>><%= categories[i].name %></option>
          <% } %>
          <input type="submit" value="Select" class="btn btn-default"
                 style="
                 height:34px;
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                vertical-align: middle;
                background: #189ED9;
                font-size: 14px;
                color: #FFFFFF;">
          </input>
      </select>

  </form>
<!-- Profile information div -->
</div>
<div class="" style=" z-index: -1;" >
  <div class="row">

    <div class="col-md-12">

      <div class="panel">
        <div class="panel-body">



          <!--/stories-->
          <div style="padding-left: 400px;" >
            <p> Current Jobs in <%= location %> </p>

            <div class="selection">
            <% for(var i = 0; i < job.length; i++) { %>

              <p>  <%= job[i].location %></p>
              <h5> <%= job[i].title %></h5>
              <p>  <%= job[i].employer %> </p>
              <h4> <%= job[i].description%></h4>

            <% } %>
            </div>
            <a class="link" href=""> Visit our site </a>
          </div>
          <!--/stories-->


        </div>
      </div>



    </div><!--/col-12-->
  </div>
</div>

<hr>

            <footer style="background-color: #FAFAFA;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline">
                              Thanks to TradeMe for the Jobs data and Stas NZ for census and employment data.
                            </ul>

                        </div>
                        <div class="col-sm-6">
                            <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a
                                        href="http://www.bootply.com">Bootply</a></p>
                        </div>
                    </div>
                </div>
            </footer>
  <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
